defaults:
  - experiment: struct_ltl/warehouse
  - hydra: simple
  - _self_

env:
  use_precomputed_resets: true
  precomputed_resets_path: sampled_resets_test.eqx

run: main

eval:
  formula: "F (vase & door & X(!crate & door))"
  finite: false # whether to treat the formula as finite
  model_index: 1  # which seed to use for the model
  num_episodes: 8
  deterministic: false
  discount: 0.99
  models_per_batch: all
  formulas_per_batch: all
  vmap_choose_sequences: True

replay: false
render:
  backend: "pygame"  # options: pygame, threejs (only for warehouse)
  frames_per_step: 3
  pause_between_episodes: 0.5

plotting:
  rows: 2
  cols: 4
